Html {
    scroll-behavior: smooth;
}

section {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

body {
    background-color: floralwhite;
    font-size: 100%;
    font-family: "Roboto", sans-serif;

}

header nav {
    margin: 2rem;
    grid-column: -1/1;
    color: slategrey;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px slategrey;
    border-top: 1px slategrey;
    border: solid;
    border-left: none;
    border-right: none;

}

header img{
    height: 5rem;
    width: auto;
}

header p{
   grid-column: -1/1;
   justify-content: center;
    text-align: center;
}

nav a {
    grid-template-columns: 1fr;
    text-decoration: none;
    padding: 0.5rem;
    background: var(--color-blue-light);
    color: var(--color-grey-lightest);
    border-bottom: 1px solid var(--color-grey-lightest);
    transition: all 0.1s;
}

nav a:hover {
    color: var(--color-blue-base);
    border-bottom: 1px solid var(--color-blue-dark);
}

section h1 {
    grid-column: -1/1;
    color: slategrey;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0em;
    margin-top: 3em;
    border-bottom: 1px slategrey;
    border-top: 1px slategrey;
    border: solid;
    border-left: none;
    border-right: none;
}


h3 {
    color: red;
    display: flex;
    flex-flow: row;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;

}


.card {
    display: flex;
    flex-flow: column;
    margin: 1rem;
    padding: 1rem;
    border: solid 1px #505050;
    box-shadow: 5px 7px 2px #505050;
    border-radius: 25px;

}


.ogImage {
    width: 100% ;
    align-self: center;
    order: -1;
}

.soldOut {
    width: 10rem;
    display: none;
    margin: 1rem;
    display: center;
}

.vegetarian {
    display: none;
}

.allergens {
    display: none;
}

.alcohol {
    display: none;
}


/*button stuff*/
.card button {
    align-self: center;
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: darkseagreen;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 90%;
    margin: .5rem;
    margin-top: auto;
}

button:hover {
    background-color: darkolivegreen;
}

button:active {
    background-color: darkolivegreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.price.fullPrice{
    justify-content: flex-start;
    text-decoration: line-through;
}


.price.priceDiscount{
 justify-content: flex-start;
    font-size: 10rem;
    color: crimson;
    font-size: 1rem;
}



/*modal stuff*/
.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #7c1f17;
    margin: 1em;
    padding: 2em;
}

.modal-image {
    width: 25rem;
    height: auto;
    align-self:center;
}

footer{
    margin: 2rem;
    grid-column: -1/1;
    color: slategrey;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px slategrey;
    border-top: 1px slategrey;
    border: solid;
    border-left: none;
    border-right: none;
}
